/*
	Document	:	main
	Created on	:	Jan 10, 2015 19:08 PM
	Author		:	jmdemoor
	Company		:	ObjectPac
	Description	:
		Default CSS for DBOS Application
*/

@page
{
	size:  auto;   /* auto is the initial value */
	margin: 0;  /* this affects the margin in the printer settings */
}

@media all {
	.page-break {display: none;}
}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
	.no-rept {display: none;}
}

div.title {
  font-size: 		2.0em;
  color:		#333333;
  border-bottom: 	1px solid #d0d2c1;
  border-top: 		1px solid #d0d2c1;
  padding-left:         10px;
  position: 		absolute;
  top: 			52px;
  left: 		101px;
  right:		35px;
}

#title-nothome {
  top: 			18px;
}

div.logo {
  background-image: url(../img/dc50logo.jpg);
  height:   142px;
  width:    90px;
}

div.lion-title {
  font-size: 		2.0em;
  color:		#333333;
  border-bottom: 	1px solid #d0d2c1;
  border-top: 		1px solid #d0d2c1;
  padding-left:         10px;
  position: 		absolute;
  top: 			52px;
  left: 		201px;
  right:		35px;
}

div.lion-title span {
	font-size: 0.5em;
	padding: 0 0 10px 0;
}

div.lion {
/*  background-image: url(../img/dc50_lionhead.jpg); */
  height:   150px;
  width:    190px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border-left:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#dff0d8;
	color:#3c763d;
	border-color:#3c763d;
}

/* ==================================    Camera booth */

div.booth {
	width: 400px;
	background-color: #ccc;
	border: 10px solid #ddd;
	margin:0 auto;
}

.video {
	width: 150px;
	height: 200px;
}

/* ==================================    End Camera booth */

/* ==================================    For PVC card print */

div.pvccard
{
	border: 2px solid white;
	border-radius: 15px;
	height: 750px;
	width: 506px;
	background-color: #fff;
}

div.pvchead {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 152px;
}

p.pvciupat {
    margin-top: 50px;
	font-weight: bold;
}

div.pvclogo {
	background-image: url(../img/dc50logo.jpg);
	height:   142px;
	width:    90px;
	border-top-left-radius: 15px;
}

div.pvcside {
	height: 594px;
	width: 75px;
	border-bottom-left-radius: 15px;
	background-color: #e5af33;
	color: white;
}

div.pvcside > h1 {
	margin-top: 75px;
	margin-left: 20px;
}

div.pvcmain {
	height: 594px;
	padding-top: 75px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #dfd9c3;
}

/* =====================================     End PVC card print */

.vertical
{
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

.center {
	padding: 10px;
	text-align: center;
}

.top-half {
	height: 5in;
}

#logo-nothome {
	height: 71px;
	border-radius: 4px;
}

#report-title {
	font-weight: 500;
	font-size: 28px; 
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 25px;
}

body {
	font-size: 12px;
	font-family: Verdana,Arial,sans-serif;
}

div.sm-print {
	font-size: 8pt;
}

h4.sm-print {
	font-size: 10pt;
	font-weight: bold;
}

footer {
	bottom: 0;
	padding-top: 1em;
	margin-top: 3em;
	height: 3em;
}

.footer {
	background: #ddd;
	
}

h1, .h1 {
	font-size: 28px;
}

.pr-panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-default > .pr-panel-heading {
	color: #333;
	border-color: #ddd;
}

.pr-panel-heading > h3 {
	font-size: 10px;
	font-weight: bold;
}

.grid-rowtotal {
	font-weight: bold;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
	padding: 6px;	
}

table .total-border {
	border-top-style: double;
}

.sm-table > thead > tr > th,
.sm-table > tbody > tr > th,
.sm-table > tfoot > tr > th,
.sm-table > thead > tr > td,
.sm-table > tbody > tr > td,
.sm-table > tfoot > tr > td {
	padding: 4px;
	font-size: 8pt;
}

.vertical-colhead {

	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	padding: 0 !important;
	text-align: left;
	vertical-align: middle !important;
	width: 75px;
	height: 200px;
}

.negative {
	color:#8a1f11;
}

.btn {
	font-size: 12px;
	padding: 6px 12px;
}
.btn-xs, .btn-group-xs > .btn {padding: 1px 5px;}
.btn-embedded {margin: -6px}
.btn-compliance {
	margin-top: -6px;
	margin-bottom: -6px;
}
.btn-detail {
	padding: 1px 5px;
}
.btn.margin-lft-25 {margin-left: 25%;}

.op-dv-table-sm th {
	width: 40%;
	text-align: right;
}

.op-dv-table th {
	width: 25%;
	text-align: right;
}

.right {
	text-align: right;
}

.zero {
	color: #c8c8a7;
}

.text-muted { color: #989898;}

ul.noBullets {list-style: none;}

.pad-six {padding: 6px;}
.pad-rightlink {
	padding-right: 35px;
	padding-top: 10px;
}
.three-em {height: 3em;}
.ten-em {width: 10em;}
.twelve-em {width: 12em;}
.twentyfive-pct {width: 25%;}
.thirtyfive-pct {width: 35%;}
.forty-pct {width: 40%;}
.fortyfive-pct {width: 45%;}
.fifty-pct {width: 50%;}
.fiftyfive-pct {width: 55%;}
.sixty-pct {width: 60%;}
.seventyfive-pct {width: 75%;}
.ninety-pct {width: 90%;}
.hundred-pct {width: 100%;}

.datatop {vertical-align: top;}

.td-danger {
	background-color: #f2dede;
    border-color: #d43f3a;
}

.td-bold {font-weight: bold;}


span.not-set {color: #c8c8a7;}
span.active {
	color: #fff;
	background-color: #3c763d;
	padding: 4px;
	
}
span.inactive {
	color: #d43f3a;
	font-weight: bold;
}

span.lbl-danger {
	background-color: #f2dede;
    border-color: #d43f3a;
    padding: 6px 12px;	
    font-weight: bold;
}

a span.loaned {
	color: #fff;
	background-color: #3c763d;
	padding-left: 1em;
	padding-right: 1em;
}

.rightside {
	float: right;
}

.leftside {
	float: left;
}

.ui-accordion .ui-accordion-header {
    font-size: 12px;
}

.ui-accordion .ui-accordion-header span{
    font-weight: bold;
}

.ui-widget .ui-widget-content {
	font-size: 12px;
}

.ui-widget-content a {
	color: #337ab7;
}

.balances .modal-dialog {
	width: 900px;
}

.modal-body {
	background-color: #d0e5f5;
}

.kv-panel-before {
	border-bottom: 1px solid #ddd;
	padding: 1px !important;
}

.select2-container--krajee .select2-selection {
	border-radius: 3px;
	height: 30px;
	font-size: 12px;
	line-height: 1.5;
	padding: 5px 22px 5px 10px;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
	height: 28px;
}

.qsearch {
	margin-bottom: 10px;
}

.navbar .container {
	width: 90%;	
}

#dues_grid .summary {
	visibility: hidden;
}

#hrs_grid .summary {
	visibility: hidden;
}

.fc-event:hover {
	color: #31708F;
	font-weight: bold;
}

.fc-event {
	background-color:#D9EDF7;
	color:#31708F;
	border-color:#BCE8F1;
}

.fc-event-allday, .fc-event-allday:hover {
	/*
	background-color:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
	*/
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

#journal {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 1em;
}

#journal p {
	font-weight: bold;
}

.form-group {margin-bottom: 0;}
.form-control {
	height: auto;
	font-size: 12px;
}
/* override Kartik file input caption container */
.file-caption-name {
	height: auto !important;
	font-size: 12px;
}

.filter-row select, .select2-container .select2-choice {
	height: 31.15px;
}

/* override Kartik multi-select */
/* doesn't work
.input-multiselect {
	min-height: 75px;
	height: 75px;
}
*/

.note {
	margin-bottom: 1em;	
}

.note-time {
	color: #aaa;
}

.portlet-note {
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	padding: 0.5em;
}

/* override Reportico styles */

.swHTMLGoBox {
    display: none; 
}

.swPrpDropSelect {
	font-weight: normal;
}

#receipt-title {
	font-weight: bold;
	font-size: 12pt;
}


