# Requires FollowSymLinks to work; also turn on the REWRITE engine
<IfModule mod_rewrite.c>
   Options +FollowSymlinks
   RewriteEngine On
</IfModule>

# Unless explicit file or director exists, redirect all requests to Yii entry script
<IfModule mod_rewrite.c>
   RewriteCond %{REQUEST_FILENAME} !-f 
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . index.php 
</IfModule>
